@import './style/common.sass'
@import './style/variables.sass'

.content-container
  padding: 11rem 0
  box-sizing: border-box
  width: 100vw
  max-height: 100vh
  overflow: hidden

.content
  padding: 0 2rem
  height: calc( 100vh - 22rem )
  width: 100%
  overflow: hidden
  overflow-y: auto
  box-sizing: border-box

@media (min-width: map-get($break-point, 'mobile'))
  .content-container
    padding: 3rem
    padding-top: 11rem
    padding-left: 23rem

  .content
    padding-right: 2rem
    height: calc( 100vh - 14rem )
    